<div class="flex justify-center items-center h-screen">
  <form class="w-68 p-6 rounded-lg shadow-lg">
    <h2 class="text-2xl font-bold mb-4">Forgot Password</h2>
    <mat-form-field class="w-full mb-3">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="Enter your email">
      <mat-hint align="end" class="text-sm text-gray-500">An email will be sent to the specified email.</mat-hint>
    </mat-form-field>
    <button routerLink="/users/reset-password" mat-raised-button color="primary" class="w-full mt-4">Reset Password</button>
  </form>
</div>
