<div class="bg-white rounded-lg shadow-lg p-8">
  <div class="text-center">
    <i class="material-icons text-6xl text-green-500">check_circle</i>
    <h1 class="text-4xl font-bold my-4">Thank You!</h1>
    <p class="text-gray-600">Your purchase has been successful.</p>
    <p class="text-gray-600">An email has also been sent to your email address</p>
  </div>
  <div class="mt-8">
    <p class="text-center">We appreciate your support and hope you enjoy your product.</p>
    <p class="text-center mt-4">If you have any questions or need further assistance, please don't hesitate to
      contact us.
    </p>
  </div>
</div>
