<div class="p-3 flex justify-between">
  <div></div>
  <button (click)="createProduct()" mat-raised-button color="primary">
    <mat-icon>add</mat-icon>
    New Product
  </button>
</div>
<div>
  <table mat-table [dataSource]="productsSource" style="width: 100%;">
    <!-- Column definitions -->
    <ng-container matColumnDef="_id">
      <th class="font-bold text-black" style="width: 20%" mat-header-cell *matHeaderCellDef> PRODUCT ID </th>
      <td mat-cell *matCellDef="let element"> {{element._id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th class="font-bold text-black" style="width: 15%" mat-header-cell *matHeaderCellDef> NAME </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th class="font-bold text-black" style="width: 5%" mat-header-cell *matHeaderCellDef> PRICE </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <ng-container matColumnDef="qty">
      <th class="font-bold text-black" style="width: 5%" mat-header-cell *matHeaderCellDef> QTY. </th>
      <td mat-cell *matCellDef="let element"> {{element.qty}} </td>
    </ng-container>

    <ng-container matColumnDef="totalPrice">
      <th class="font-bold text-black" style="width: 5%" mat-header-cell *matHeaderCellDef> TOTAL PRICE </th>
      <td mat-cell *matCellDef="let element"> {{element.totalPrice}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th class="font-bold text-black" mat-header-cell *matHeaderCellDef> DESCRIPTION </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th class="font-bold text-black" mat-header-cell style="width: 12%" *matHeaderCellDef> ACTIONS </th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="editProduct(row)" class="text-purple-700">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteProduct(row)" class="text-red-500">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button (click)="viewProductDetail(row)" class="text-green-500">
          <mat-icon>info</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Table rows -->
    <tr mat-header-row *matHeaderRowDef="productsTableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: productsTableColumns;"></tr>

  </table>
</div>


