<div class="p-2">
  <div class="w-full mb-4">
    <mat-card>
      <mat-card-content>
        <h2 class="font-bold">Month Wise Orders</h2>
        <hr class="border-b border-gray-300 my-4">
        <ngx-charts-bar-vertical
          [view]="[1300, 210]"
          [results]="chartData"
          [xAxis]="true"
          [yAxis]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          xAxisLabel="Month"
          yAxisLabel="Orders"
        ></ngx-charts-bar-vertical>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <mat-card>
      <mat-card-content>
        <h2 class="font-bold">Orders</h2>
        <hr class="border-b border-gray-300 my-4">
        <div class="info">
          <p class="flex items-center justify-between">
            <span class="mr-2">Total Orders:</span>
            <span class="text-xl text-purple-500 font-bold ">{{ordersSummary.totalOrders}}</span>
          </p>
          <p class="flex items-center justify-between">
            <span class="mr-2">Pending Orders:</span>
            <span class="text-xl text-purple-500 font-bold ">{{ordersSummary.pendingOrders}}</span>
          </p>
          <p class="flex items-center justify-between">
            <span class="mr-2">Completed Orders:</span>
            <span class="text-xl text-purple-500 font-bold ">{{ordersSummary.completedOrders}}</span>
          </p>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <h2 class="font-bold">Users</h2>
        <hr class="border-b border-gray-300 my-4">
        <div class="info">
          <p class="flex items-center justify-between">
            <span class="mr-2">Total Users:</span>
            <span class="text-xl text-purple-500 font-bold ">500</span>
          </p>
          <p class="flex items-center justify-between">
            <span class="mr-2">Active Users:</span>
            <span class="text-xl text-purple-500 font-bold ">350</span>
          </p>
          <p class="flex items-center justify-between">
            <span class="mr-2">Inactive Users:</span>
            <span class="text-xl text-purple-500 font-bold ">150</span>
          </p>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <h2 class="font-bold">Products</h2>
        <hr class="border-b border-gray-300 my-4">
        <div class="info">
          <p class="flex items-center justify-between">
            <span class="mr-2">Total Products:</span>
            <span class="text-xl text-purple-500 font-bold ">50</span>
          </p>
          <p class="flex items-center justify-between">
            <span class="mr-2">Available Products:</span>
            <span class="text-xl text-purple-500 font-bold ">30</span>
          </p>
          <p class="flex items-center justify-between">
            <span class="mr-2">Out of Stock:</span>
            <span class="text-xl text-purple-500 font-bold ">20</span>
          </p>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <h2 class="font-bold">Payment Received</h2>
        <hr class="border-b border-gray-300 my-4">
        <div class="info">
          <p class="flex items-center justify-between">
            <span class="mr-2">Total Amount Received:</span>
            <span class="text-xl text-purple-500 font-bold ">$10,000</span>
          </p>
          <p class="flex items-center justify-between">
            <span class="mr-2">Today's Payment:</span>
            <span class="text-xl text-purple-500 font-bold ">$500</span>
          </p>
          <p class="flex items-center justify-between">
            <span class="mr-2">Top Paying User:</span>
            <span class="text-xl text-purple-500 font-bold ">User A</span>
          </p>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <h2 class="font-bold">Payment Due</h2>
        <hr class="border-b border-gray-300 my-4">
        <div class="info">
          <p class="flex items-center justify-between">
            <span class="mr-2">Total Amount Due:</span>
            <span class="text-xl text-purple-500 font-bold ">$5,000</span>
          </p>
          <p class="flex items-center justify-between">
            <span class="mr-2">Overdue Payments:</span>
            <span class="text-xl text-purple-500 font-bold ">3</span>
          </p>
          <p class="flex items-center justify-between">
            <span class="mr-2">Highest Due Amount:</span>
            <span class="text-xl text-purple-500 font-bold ">$2,000</span>
          </p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
