<mat-toolbar color="primary" class="max-w-9xl max-auto border-x justify-between">
  <div>
    <a routerLink="/home">
      <img src="/assets/images/logo.png" alt="Order App Logo" class="rounded-full h-12 w-12 inline">
    </a>
    <span class="ml-2">ASKARI ORDERING APP</span>
  </div>
  <div *ngIf="this.authService.isLoggedIn" class="search-box bg-white rounded-md w-1/2 text-center h-8">
    <mat-form-field appearance="outline" class="w-full">
      <input matInput type="text" placeholder="Search..." class="w-full" />
    </mat-form-field>
  </div>
  <div>
    <button mat-icon-button class="bg-rose-600 text-white rounded-full">
      <mat-icon>notifications</mat-icon>
    </button>
    <button *ngIf="!this.authService.isLoggedIn" mat-button routerLink="/users/signup">Sign Up</button>
    <button *ngIf="this.authService.isLoggedIn" mat-button (click)="this.authService.logout()">Logout</button>
    <button *ngIf="!this.authService.isLoggedIn" mat-button routerLink="/users/login">Login</button>
    <button *ngIf="this.authService.isLoggedIn" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon
        [matBadge]="3"
        matBadgeColor="warn"
      >shopping_cart</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <div class="p-3 divide-y divide-solid">
        <div class="pb-2 flex justify-between font-bold text-purple-700">
          <span class="mr-8">3 Items</span>
          <span class="mr-8">Qty.</span>
          <a routerLink="/view-cart">View Chart</a>
        </div>
        <div class="mt-2 py-2 divide-y divide-dotted font-semibold">
          <div class="mb-2 flex justify-between">
            <span>Milk</span>
            <span>1 Kg</span>
            <span>{{ 200 | currency }}</span>
          </div>
          <div class="mb-2 flex justify-between">
            <span>Yogurt</span>
            <span>1 Kg</span>
            <span>{{ 140 | currency }}</span>
          </div>
          <div class="mb-2 flex justify-between">
            <span>Butter</span>
            <span>1 Kg</span>
            <span>{{ 700 | currency }}</span>
          </div>
        </div>
        <div class="flex justify-between py-3 font-bold text-green-500">
          <span>Total: </span>
          <span>{{ 1040 | currency}}</span>
        </div>
        <div class="pt-3 flex justify-between">
          <button mat-icon-button class="bg-rose-600 text-white rounded-full">
            <mat-icon>remove_shopping_cart</mat-icon>
          </button>
          <button routerLink="/view-cart" mat-icon-button class="bg-green-600 text-white rounded-full">
            <mat-icon>remove_shopping_cart</mat-icon>
          </button>
        </div>
      </div>
    </mat-menu>
  </div>
</mat-toolbar>
