<mat-sidenav-container>
  <mat-sidenav *ngIf="authService.isLoggedIn" #sidenav mode="side" [opened]="true" color="primary" class="w-40">
    <mat-nav-list class="divide-y divide-solid">
      <a mat-list-item routerLink="/home" class="flex justify-between">
        <mat-icon class="text-purple-700 mr-3">home</mat-icon>
        Home
      </a>
      <a mat-list-item routerLink="/orders" class="flex justify-between">
        <mat-icon class="text-purple-700 mr-3">list_alt</mat-icon>
        Orders
      </a>
      <a mat-list-item routerLinkActive="bg-purple-200" routerLink="/products" class="flex justify-between">
        <mat-icon class="text-purple-700 mr-3" routerLinkActive="text-white-500">shopping_cart</mat-icon>
        Products
      </a>
      <a mat-list-item routerLinkActive="bg-purple-200" routerLink="/users" class="flex justify-between">
        <mat-icon class="text-purple-700 mr-3" routerLinkActive="text-white-500">account_circle</mat-icon>
        Users
      </a>
      <a mat-list-item routerLink="/customers" class="flex justify-between">
        <mat-icon class="text-purple-700 mr-3">settings</mat-icon>
        Settings
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="w-90">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
